/* Default styles */
.button {
  background-color: #00072d;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-user-link {
  color: #ff69b4;
  font-size: 24px;
}

.button:hover {
  background-color: white;
  border-color: #00072d;
  border-style: solid;
  color: #00072d;
  font-weight: bold;
}

.title {
  font-size: 24px;
  margin: 16px 0;
  color: #00072d;
}

.add-user-link {
  color: #00072d;
  font-size: 30px;
}

.reservation-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 56px;
}

.custom-button {
  background-color: #ff69b4;
  color: #ffffff;
  padding: 8px 4px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  margin: 0 auto;
  display: block;
}

.custom-button:hover {
  background-color: #ff1493;
}


  /* Buttons */
  @media screen and (max-width: 600px) {
    .button {
      padding: 8px 12px; /* Adjust padding for smaller screens */
      align-items: left;
    }
  }
  
  @media screen and (max-width: 400px) {
    .button {
      font-size: 12px; /* Adjust font size for even smaller screens */
      align-items: left;
    }
  }

  