/* backButton.css */

.back-button-container {
    margin-top: 10px;
    margin-left: -1000px;
  }
  
  .back-button {
    display: inline-block;
    text-decoration: none;
    background-color: #3498db; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 8px 16px;
    border-radius: 4px;
  }
  
  .arrow-box {
    display: inline-block;
    background-color: #2c3e50; /* Set your desired box color */
    padding: 8px;
    border-radius: 4px;
    margin-right: 8px; /* Adjust the margin as needed */
  }
  
  .arrow-icon {
    color: #fff; /* Set your desired arrow color */
    font-size: 24px;
  }
  