.login-btn {
    width: 20%;
    height: 45px;
    margin-right: 60px; /* Add margin to create space between buttons */
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: #00072D;
    color: #FFFFFF;
}

.login-btn:last-child {
    margin-right: 0; /* Remove margin for the last button */
}

.login-btn:hover {
    background-color: #F5BD34;
    color: #800000;
    border: 2px solid #800000;
}
