@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Kanit:wght@500&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #F5BD34, #FFFFFF);
}

.admin-account-container {
    width: 500px;
    height: 350px;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
    width: 150px;
    color: #e43838;
    text-align: right; /* Align the text to the right */
}

input {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #e43838;
    border-radius: 4px;
    margin-bottom: 10px; /* Adjust as needed */
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

button {
    margin-left: 10px;
    padding: 10px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #8b4040;
}

.header {
    color: #800000;
    font-weight: bold;
    margin-left: 0; /* Reset the margin */
    margin-bottom: 30px; /* Adjust as needed */
    text-align: center; /* Center the text */
}
