
.button {
    background-color: #ad1f8a;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
.add-user-link {
  color: #ff69b4; 
  font-size: 24px; 
}

  
  .button:hover {
    background-color: #2196F3;
  }
  
  
  .title {
    font-size: 24px;
    margin: 16px 0;
    color: red;
  }
  
 
  .add-user-link {
    color: #3b0606;
    font-size: 30px;
  }

  .reservation-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
 
  .custom-button {
    background-color: #ff69b4; 
    color: #ffffff;
    padding: 8px 4px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold; 
    width:100px;
    margin: 0 auto; 
  display: block; 
    
  }
  .custom-button:hover {
    background-color: #ff1493; 
  }
  

/* have to remove */

  /* Add these styles to your CSS file */
.delete-button,
.update-button {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #ff0000; /* Choose your desired background color */
  border-radius: 5px;
}

.delete-button:hover,
.update-button:hover {
  background-color: #cc0000; /* Choose a slightly different color for the hover effect */
}
