.upload{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 170px;
}

.guidances {
    /* Styles for the container of each guidance */
    margin-bottom: 20px;
  }
.guidances button {
    /* Add styling for the "Download File" button */
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .upload-container {
    display: flex;
    flex-direction: column;
  }
  
  .guidances button:hover {
    /* Add styling for the button on hover if needed */
    background-color: #45a049;
  }