/* 'TopBar.css' */

.topBarStyle {
  background-color: #800000;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  transition: all .5s ease; /* Add transition for smooth animation */
}

/* Responsive styles for small screens */
@media only screen and (max-width: 768px) {
  .topBarStyle {
    height: auto; /* Auto height for small screens */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
    padding: 15px; /* Add padding to all sides */
  }

  .imageStyle {
    margin-right: 0; /* Remove negative margin for small screens */
    margin-bottom: 10px; /* Add margin at the bottom */
  }

  .facultyTextStyle,
  .systemTextStyle {
    text-align: center; /* Align text to the left */
    margin-bottom: 5px; /* Add margin between text elements */
  }

  .logoutButton {
    margin-right: 0; /* Remove margin for small screens */
  }
}

.logoutButton {
  background-color: #800000;
  color: #F5BD34;
  font-weight: 700;
  border: 2px solid #F5BD34;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.facultyTextStyle,
.systemTextStyle {
  color: #F5BD34;
  font-weight: 900;
  text-align: center;
}

.imageStyle {
  width: 100px;
  height: 100px;
  margin-right: -120px;
}

/* ... (previous styles) */