/* App.css */

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .scrollable-container {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #cbd5e0;
  
    &::-webkit-scrollbar {
      width: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #4a5568;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #cbd5e0;
    }
  }
  